
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto; /* adjust this based on your needs */
  gap: 20px; /* Increased gap */
  margin: 20px; /* Existing margin */
  padding: 20px; /* Added padding */
  background-color: #f5f5f5; /* Added a light background */
  border-radius: 15px; /* Added border radius */
}

.grid__row {
  display: contents;
}

.grid__cell {
  border: 1px solid #ccc;
  padding: 15px; /* Increased padding */
  background-color: #fff; /* Added a white background */
  border-radius: 5px; /* Added border radius */
  box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Added a box shadow */
  overflow: auto; /* Added for scrolling if the content is larger than the cell */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  font-size: 2.5em;
  color: whitesmoke !important;
}

.card {
  width: 100%; /* Ensure the card takes full width of the cell */
}

.card__text {
  list-style-type: none;
  margin-bottom: 15px; /* Add some margin to the bottom of each list item */
}


.card__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Keep removing default margins */
}


.grid__row:first-child .grid__cell {
  background-color:whitesmoke; /* background color similar to header */
  color: #4180C1; /* white text */
  font-size: 1.2em; /* bigger font size */
  font-weight: bold; /* bold text */
  text-align: center; /* center text alignment */
  padding: 20px; /* increased padding */
  border-radius: 5px; /* maintain border radius */
}


.grid__row .grid__cell:first-child {
  background-color: whitesmoke; /* background color similar to header */
  color: #4180C1; /* white text */
  font-size: 1.2em; /* bigger font size */
  font-weight: bold; /* bold text */
  text-align: center; /* center text alignment */
  padding: 20px; /* increased padding */
  border-radius: 5px; /* maintain border radius */
}

.header .headerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
