.layout {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #4180C1;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  border-bottom: 5px solid #1E5A84;
  color: whitesmoke;
  font-size: 2.5em;
  z-index: 10;
}

.headerID {
  font-size: 0.3em;
  margin-bottom: 8px;
}

.content {
  position: relative;
  overflow: auto;
  height: calc(100vh - /* Add the height of your header */);
  width: 100%;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
}

.table-cell {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 2px;
  margin-bottom: 6px;
  flex-basis: 15%;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-wrap: break-word;
}

.header-row .table-cell {
  position: sticky;
  top: 0;
  background-color: #4180C1;
  color: whitesmoke;
  font-weight: bold;
  z-index: 5;
}

.stickyCell {
  position: sticky;
  left: 0;
  background-color: whitesmoke;
  color: #4180C1;
  font-weight: bold;
  z-index: 5;
}


.header-row  {
  position: sticky;
}
